doctype html
html
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') NodeAuth
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li
            a(href='/users/register') Register
          li
            a(href='/users/login') Login
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/users/logout") Logout
    .container
      h3 ABOUT