<html>
    <link rel="stylesheet"  href="/css/style.css">
    <link rel ="stylesheet" href="./css/bootstrap.min.css">
    
    
<body>
   
<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-right">
  <!-- Brand -->
  <a class="navbar-brand" href="#">NodeJs'e Giriş</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Giriş</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Kayıt</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Sınıflar
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
  </ul>
</nav>
    <%-body%>

    <h1>EJS ŞABLON taban</h1>
<script type="text/javascript" src="/js/jquery-3.4.1.min.js">
<script type="text/javascript" src="/js/bootstrap.min.js">

</body>

</html>